.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: black;
}

.heading {
  margin-left: -10rem;
}

.logo {
  height: 60px;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  gap: 20px;
}

.active {
  font-weight: bold;
  gap: 20px;
  padding: 1rem;
  text-decoration: none;
}

.horizontal {
  color: black;
  height: 2px;
}
