.rocketList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rocketItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.flickr {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin-right: 1rem;
}

.textWrapper {
  flex: 1;
  margin-top: -70px;
}

.name {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1rem;
  margin: 0;
}

.reserve {
  height: 40px;
  width: 200px;
  margin-top: 20px;
  color: white;
  background-color: rgb(74, 115, 218);
  font-weight: bolder;
  border-radius: 5px;
}
